* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(25, 5, 43);
  }
  .left {
    font-size: 1.5rem;
  }
  nav ul {
    display: flex;
  }
  ul a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    font-size: 1.04rem;
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  
  .firstsection {
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
    margin-bottom: 100px;
  }
  .firstsection > div {
    width: 40%;
  }
  .leftsection {
    font-size: 2.5rem;
    margin-top: 100px;
    margin-left: 80px;
  }
  .rightsection {
    width: 30%;
  }
  .rightsection img {
    width: 70%;
    margin-top: 20px;
    margin-left: 30px;
  }
  .purple {
    color: purple;
  }
  #element {
    color: purple;
  }
  hr {
    margin: 50px;
  }
  
  .second-section span {
    margin-left: 30px;
    display: flex;
    justify-content: center;
  }
  .second-section h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  
  .card {
    height: 330px;
    width: 210px;
    border: 1px solid gray;
    border-radius: 15px;
    margin-left: 60px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .main-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 60px;
  }
  .card img {
    height: 200px;
    width: 210px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }
  .card p {
    margin-left: 10px;
    margin-top: 15px;
    overflow: hidden;
  }
  .card:hover {
    box-shadow: 0 4px 8px purple;
    transform: scale(1.05);
  }
  .buttons {
    margin-top: 30px;
  }
  .btn {
    padding: 15px;
    margin-left: 15px;
    font-size: 0.9rem;
    background-color: rgb(40, 40, 118);
    border-radius: 5px;
    border: 2px solid rgb(72, 72, 92);
  }
  .btn a {
    text-decoration: none;
    color: black;
  }
  .btn:hover {
    box-shadow: 0 4px 8px purple;
    cursor: pointer;
    background-color: rgb(0, 255, 0);
  }
  
  .third-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
  }
  .main-third-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .Name {
    color: purple;
    font-size: 2rem;
  }
  .third-left {
    height: 400px;
    width: 600px;
    font-size: 1.5rem;
    overflow: auto;
    scrollbar-width: none;
  }
  .third-right {
    height: 300px;
    width: 300px;
  }
  .third-right img {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 145, 0, 0.5);
    margin-top: 50px;
  }
  /* @keyframes scroll {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */
  .porject-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .porject-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .card-porject img {
    width: 300px;
    height: 250px;
    border-radius: 15px;
  }
  .card-porject {
    height: 400px;
    width: 300px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
  }
  .card-porject div {
    width: 300px;
    height: 140px;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    border-radius: 15px;
  }
  .contact {
    display: flex;
    justify-content: space-around;
  }
  .left-contact {
    width: 400px;
    height: 400px;
    margin-left: 50px;
  }
  .left-contact img {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 145, 0, 0.5);
    margin-top: 50px;
    margin-left: 50px;
  }
  .images img {
    height: 30px;
    width: 30px;
    margin-left: 53px;
  }
  .contact-container {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border: 1px solid wheat;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }
  .form-group label {
    display: block;
    margin-left: 15px;
  }
  .form-group input {
    padding-left: 15px;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid wheat;
    margin: 10px;
    background-color: transparent;
    color: white;
  }
  .form-group textarea {
    width: 250px;
    height: 70px;
    border-radius: 8px;
    border: 1px solid wheat;
    margin: 10px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: transparent;
    color: white;
  }
  .form-group button {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    color: white;
    border: 1px solid wheat;
    margin: 10px;
    padding-left: 15px;
    background-color: rgb(41, 41, 47);
    margin-left: 20px;
  }
  
  .head_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .email {
    display: inline-block;
  }
  .end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(6, 7, 7);
  }
  .contaceMe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 50px;
  }
  